html {
  font-size: 10px;
}
body {
  position: relative;
  margin: 0 auto;
  width: 100%;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(204, 204, 204, 0.39);
  -moz-box-shadow: 0px 0px 20px 0px rgba(204, 204, 204, 0.39);
  box-shadow: 0px 0px 20px 0px rgba(204, 204, 204, 0.39);
  border-top: 10px solid #06c;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
}
::-moz-selection {
  background: #008eee;
  color: #ffffff;
  text-shadow: none;
}
::-webkit-selection {
  background: #008eee;
  color: #ffffff;
  text-shadow: none;
}
::selection {
  background: #008eee;
  color: #ffffff;
  text-shadow: none;
}

.aresThemeHeader,
.aresThemeFooter {
  ul {
    overflow-wrap: break-word;
  }
  p {
    overflow-wrap: break-word;
  }
  .has-text-align-right {
    text-align: right;
  }
  .screen-reader-text {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    word-wrap: normal !important;
  }
  .screen-reader-text:focus {
    background-color: #ddd;
    clip: auto !important;
    -webkit-clip-path: none;
    clip-path: none;
    color: #444;
    display: block;
    font-size: 1em;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
  }
  button::-moz-focus-inner {
    padding: 0;
    border: 0;
  }
  .rt-container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
  }
  .rt-container-fluid:before,
  .rt-container-fluid:after,
  .rt-row:before,
  .rt-row:after {
    content: " ";
    display: table;
  }
  .rt-container-fluid:after,
  .rt-row:after {
    clear: both;
  }
  .rt-row {
    margin-left: -15px;
    margin-right: -15px;
  }
  .rt-wpls [class*="rt-col-"] {
    box-sizing: border-box;
  }
  .rt-col-md-3,
  .rt-col-sm-6,
  .rt-col-xs-12 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .rt-col-xs-12 {
    float: left;
  }
  .rt-col-xs-12 {
    width: 100%;
  }
  .rt-wpls .single-logo {
    display: table;
    text-align: center;
    vertical-align: middle;
    position: relative;
    margin: 0px;
    width: 100%;
  }
  .rt-wpls .single-logo img {
    padding: 10px;
    max-width: 100%;
    height: auto;
    display: inline-block;
  }
  .rt-wpls .single-logo .single-logo-container {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    padding: 10px;
  }
  .single-logo-container > * {
    text-align: center;
    display: block;
    vertical-align: middle;
  }
  .rt-wpls .slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
  }
  .rt-wpls .slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
  }
  .rt-wpls .slick-list:focus {
    outline: none;
  }
  .rt-wpls .slick-slider .slick-track,
  .rt-wpls .slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .rt-wpls .slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    padding: 20px 0px;
  }
  .rt-wpls .slick-track:before,
  .rt-wpls .slick-track:after {
    display: table;
    content: "";
  }
  .rt-wpls .slick-track:after {
    clear: both;
  }
  .rt-wpls .slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
  }
  [dir="rtl"] .slick-slide {
    float: right;
  }
  .rt-wpls .slick-slide img {
    display: block;
  }
  .rt-wpls .slick-initialized .slick-slide {
    display: block;
  }
  @media (min-width: 768px) {
    .rt-col-sm-6 {
      width: 50%;
    }
  }
  @media (min-width: 992px) {
    .rt-col-md-3 {
      width: 25%;
    }
  }
  div,
  span,
  p,
  a,
  img,
  ul,
  li,
  form,
  label,
  aside,
  footer,
  header,
  nav {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }
  aside,
  footer,
  header,
  nav {
    display: block;
  }
  ul {
    list-style: none;
  }
  a {
    outline: 0;
    text-decoration: none;
  }
  *,
  *:after,
  *:before {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0em;
    -webkit-margin-end: 0em;
  }
  aside,
  footer,
  header,
  nav {
    display: block;
  }
  a {
    background-color: transparent;
    outline: none;
    border: 0;
  }
  a:active,
  a:hover {
    outline: 0;
  }
  img {
    border: 0;
  }
  img::selection {
    background: transparent;
  }
  img::-moz-selection {
    background: transparent;
  }
  button,
  input {
    color: inherit;
    font: inherit;
    margin: 0;
  }
  button {
    overflow: visible;
  }
  button {
    text-transform: none;
  }
  button {
    -webkit-appearance: button;
    cursor: pointer;
  }
  button::-moz-focus-inner,
  input::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
  input {
    line-height: normal;
  }
  input[type="search"] {
    -webkit-appearance: textfield;
    box-sizing: content-box;
  }
  .row {
    text-align: justify;
    width: 100%;
    font-size: 0.1px;
    margin-bottom: 30px;
  }
  .row:after {
    display: inline-block;
    width: 100%;
    content: "";
    clear: both;
  }
  [class*="col-"] {
    display: inline-block;
    text-align: left;
    vertical-align: top;
    font-size: 17px;
    font-size: 1.7rem;
  }
  @media screen and (max-width: 48.75em) {
    [class*="col-"] {
      margin-bottom: 40px !important;
    }
  }
  button,
  input {
    color: #212121;
    font-family: "Open Sans", Arial, sans-serif;
    font-weight: 300;
    font-size: 17px;
    font-size: 1.7rem;
    line-height: 1.5;
  }
  p {
    font-size: 16px;
    font-size: 1.6rem;
    margin-bottom: 2.5%;
  }
  img {
    height: auto;
    max-width: 100%;
  }
  img:hover {
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  ul {
    margin: 10px 0 30px;
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 1.7;
  }
  ul ul {
    margin: 0 20px;
  }
  ul {
    list-style: none;
  }
  ul li {
    list-style: square outside;
    margin: 0 0 15px 35px;
    padding-left: 5px;
  }
  li > ul {
    margin-bottom: 0;
    margin-left: 1em;
  }
  button {
    position: relative;
    display: inline-block;
    width: auto;
    cursor: pointer;
    text-align: center;
    outline: none;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  button:focus,
  button:hover {
    background-color: rgba(0, 142, 238, 0.8);
    color: #ffffff;
  }
  input[type="search"] {
    display: inline-block;
    background: none;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  input[type="search"]:focus {
    font-style: normal;
    color: #212121;
    border: 1px solid #008eee;
    background-color: #ffffff;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  input[type="search"] {
    border: 1px solid #eff2f5;
    height: 50px;
    width: 90%;
    padding: 0 4.5%;
    background: #ffffff;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
  }
  input[type="search"]:focus {
    outline: none;
    border: 1px solid #b6b6b6;
  }
  .slicknav_btn {
    position: relative;
    display: block;
    vertical-align: middle;
    float: right;
    padding: 0.438em 0.625em 0.438em 0.625em;
    line-height: 1.125em;
    cursor: pointer;
  }
  .slicknav_btn .slicknav_icon-bar + .slicknav_icon-bar {
    margin-top: 0.3em;
  }
  .slicknav_menu {
    *zoom: 1;
  }
  .slicknav_menu .slicknav_menutxt {
    display: block;
    line-height: 1.188em;
    float: left;
  }
  .slicknav_menu .slicknav_icon {
    float: left;
    margin: 0.188em 0 0 0.438em;
  }
  .slicknav_menu .slicknav_icon-bar {
    display: block;
    width: 1.125em;
    height: 0.125em;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  }
  .slicknav_menu:before {
    content: " ";
    display: table;
  }
  .slicknav_menu:after {
    content: " ";
    display: table;
    clear: both;
  }
  .slicknav_nav {
    clear: both;
  }
  .slicknav_nav ul {
    display: block;
  }
  .slicknav_nav li {
    display: block;
  }
  .slicknav_nav .slicknav_arrow {
    font-size: 0.8em;
    margin: 0 0 0 0.4em;
  }
  .slicknav_nav .slicknav_item {
    cursor: pointer;
  }
  .slicknav_nav .slicknav_item a {
    display: inline;
  }
  .slicknav_nav .slicknav_row {
    display: block;
  }
  .slicknav_nav a {
    display: block;
  }
  .screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
  }
  .screen-reader-text:hover,
  .screen-reader-text:active,
  .screen-reader-text:focus {
    background-color: #ffffff;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    color: #212121;
    display: block;
    font-size: 8.75px;
    font-size: 0.875rem;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
  }
  .clear {
    clear: both;
    zoom: 1;
  }
  .clear:before {
    content: "";
    display: table;
  }
  .clear:after {
    content: "";
    display: table;
    clear: both;
  }
  .widget {
    margin: 0 0 1.5em;
  }
  .widget {
    margin: 0 0 1.5em;
  }
  .container-wrap {
    max-width: 1170px;
    width: 90.5%;
    margin: 0 auto;
  }
  .off-white-bg-wrap {
    background-color: #f0f0f0;
  }
  button {
    height: 50px;
    line-height: 49px;
    padding: 0 25px;
    text-transform: uppercase;
    letter-spacing: 0.15rem;
    text-decoration: none;
    border: 1px solid #008eee;
    font-family: "Open Sans", Arial, sans-serif;
    color: #ffffff;
    background-color: #008eee;
    border: 1px solid #008eee;
    font-weight: 600;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    font-size: 18px;
    font-size: 1.8rem;
  }
  button:focus,
  button:hover {
    color: #ffffff;
  }
  .header {
    position: absolute;
    width: 100%;
    z-index: 1000;
  }
  @media screen and (max-width: 48.75em) {
    .header {
      position: relative;
    }
  }
  .page-template-default .header {
    max-width: 100%;
  }
  #top-utility-wrap {
    min-height: 30px;
    line-height: 30px;
    vertical-align: middle;
    padding: 1% 2.5%;
    margin: 0 auto;
    max-width: 1440px;
    background-color: #ffffff;
    clear: both;
    zoom: 1;
  }
  #top-utility-wrap:before {
    content: "";
    display: table;
  }
  #top-utility-wrap:after {
    content: "";
    display: table;
    clear: both;
  }
  #top-utility-wrap ul {
    margin: 0;
    display: inline-block;
    line-height: inherit;
    padding-left: 75px;
  }
  #top-utility-wrap li {
    margin: 0 10px 0 0;
    padding: 0;
    list-style: none;
    display: inline-block;
  }
  #top-utility-wrap a {
    text-decoration: none;
    color: #212121;
    font-size: 13px;
    font-size: 1.3rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 700;
  }
  #top-utility-wrap a:focus,
  #top-utility-wrap a:hover {
    color: #008eee;
  }
  .utility-locations-menu {
    display: inline-block;
    text-align: left;
    text-decoration: none;
    width: 50%;
  }
  .utility-locations-menu li:before {
    padding-right: 7px;
    content: " \f111 ";
    font-family: "FontAwesome";
    position: relative;
    top: 0;
    left: 0;
    font-size: 18px;
    font-size: 1.8rem;
    display: inline-block;
    vertical-align: middle;
  }
  .utility-locations-menu li:before {
    color: #008eee;
  }
  #menu-locations-nav {
    width: 50%;
    float: right;
    margin: 0;
    line-height: 1.5;
    text-align: right;
    font-size: 14px;
    font-size: 1.4rem;
  }
  #menu-locations-nav li {
    padding-right: 10px !important;
  }
  #menu-locations-nav li:after {
    display: inline-block;
    vertical-align: middle;
    content: " | ";
    position: relative;
    top: -1px;
    left: 7px;
    font-size: 12px;
    font-size: 1.2rem;
    vertical-align: middle;
  }
  #menu-locations-nav li:last-child {
    padding: 0 !important;
  }
  #menu-locations-nav li:last-child:after {
    content: " ";
  }
  @media screen and (max-width: 66em) {
    #top-utility-wrap a,
    #top-utility-wrap a:link,
    #top-utility-wrap a:visited,
    #top-utility-wrap a:active {
      font-size: 12px;
      font-size: 1.2rem;
      letter-spacing: 0;
      display: inline-block;
    }
    #top-utility-wrap ul {
      padding-left: 0;
    }
    .utility-locations-menu {
      width: 45%;
      z-index: 2000;
    }
    .utility-locations-menu li {
      background-color: #099cff;
      padding: 0 5px !important;
    }
    .utility-locations-menu li a {
      color: #ffffff !important;
    }
    .utility-locations-menu li:before {
      display: none;
    }
    .utility-locations-menu li:first-child {
      margin-right: 5px !important;
      background-color: #008eee;
    }
    .utility-locations-menu li:last-child {
      background-color: #007fd5;
    }
  }

  .slicknav_menu {
    display: none;
    position: absolute;
    width: 100%;
  }
  @media screen and (max-width: 48.75em) {
    .slicknav_menu {
      display: block;
    }
  }
  .slicknav_nav {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 100%;
    left: 0;
    margin: 0;
    list-style: none;
    top: 0px;
    padding-top: 0px;
    clear: both;
    float: none;
    background: #008eee;
    background: rgba(0, 142, 238, 0.97);
    border-bottom: 2px solid rgba(0, 142, 238, 0.3);
  }
  .slicknav_nav ul {
    list-style: none;
    overflow: hidden;
    padding: 0;
    margin: 0;
  }
  .slicknav_nav li {
    border-bottom: 1px solid rgba(0, 142, 238, 0.3);
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
    text-transform: uppercase;
    font-style: normal;
    display: block;
    width: 100%;
  }
  .slicknav_nav li:first-child {
    border-top: 2px solid rgba(0, 142, 238, 0.3);
  }
  .slicknav_nav a,
  .slicknav_nav a:link,
  .slicknav_nav a:visited,
  .slicknav_nav a:active {
    color: #ffffff;
    font-size: 17px;
    font-size: 1.7rem;
    font-weight: 300;
    text-transform: uppercase;
    text-decoration: none;
    width: 100%;
    margin: 0;
    padding: 12px 0 12px 20px;
    position: relative;
  }
  .slicknav_nav a:focus,
  .slicknav_nav a:hover,
  .slicknav_nav a:link:focus,
  .slicknav_nav a:link:hover,
  .slicknav_nav a:visited:focus,
  .slicknav_nav a:visited:hover,
  .slicknav_nav a:active:focus,
  .slicknav_nav a:active:hover {
    background: #008eee;
    background: rgba(0, 142, 238, 0.3);
    color: #ffffff;
  }
  .slicknav_nav .slicknav_arrow {
    display: none;
  }
  .slicknav_nav .slicknav_item a {
    padding: 0;
    margin: 0;
  }
  .slicknav_btn .slicknav_icon-bar + .slicknav_icon-bar {
    margin-top: 0;
  }
  .slicknav_menutxt {
    display: none !important;
  }
  .slicknav_btn {
    margin: 0;
    padding: 0;
    float: left;
    text-decoration: none;
    background: none;
    top: 0px;
    left: 0px;
    width: 65px;
    z-index: 3;
    height: 65px;
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    transition: background-color 0.3s;
  }
  .slicknav_icon {
    margin: 0 !important;
    float: none !important;
    clear: both;
    top: 32.5px;
    left: 32.5px;
    position: relative;
  }
  .slicknav_menu .slicknav_icon-bar {
    box-shadow: none;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
  }
  .slicknav_icon-bar {
    bottom: auto;
    right: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    width: 25px !important;
    height: 2px;
    background-color: #ffffff;
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    transition: background-color 0.3s;
  }
  .slicknav_icon-bar:first-child,
  .slicknav_icon-bar:last-child {
    display: none;
  }
  .slicknav_icon-bar:before,
  .slicknav_icon-bar:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #f9f9f9;
    right: 0;
    -webkit-transition: -webkit-transform 0.3s, top 0.3s, background-color 0s;
    -moz-transition: -moz-transform 0.3s, top 0.3s, background-color 0s;
    transition: transform 0.3s, top 0.3s, background-color 0s;
  }
  .slicknav_icon-bar:before {
    top: -7px;
  }
  .slicknav_icon-bar:after {
    top: 7px;
  }
  .slicknav_open.slicknav_btn {
    background-color: #008eee;
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    transition: background-color 0.3s;
  }
  .slicknav_open .slicknav_icon-bar {
    background-color: rgba(255, 255, 255, 0);
  }
  .slicknav_open .slicknav_icon-bar:before,
  .slicknav_open .slicknav_icon-bar:after {
    background-color: #ffffff;
  }
  .slicknav_open .slicknav_icon-bar:before {
    top: 0;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
  }
  .slicknav_open .slicknav_icon-bar:after {
    top: 0;
    -webkit-transform: rotate(225deg);
    -moz-transform: rotate(225deg);
    -ms-transform: rotate(225deg);
    -o-transform: rotate(225deg);
    transform: rotate(225deg);
  }
  #nav-wrap {
    position: relative;
    z-index: 2;
    left: 0;
    height: 140px;
    line-height: 140px;
    vertical-align: middle;
    background-color: #008eee;
    padding: 10px 0;
    padding-top: 0px;
    border-bottom: 30px solid #008eee;
  }
  #nav-wrap:after {
    content: "";
    height: 0px;
    width: 100%;
    display: inline-block;
  }
  #nav-wrap:before {
    content: "";
    display: table;
  }
  #nav-wrap:after {
    content: "";
    display: table;
    clear: both;
  }
  .nav {
    float: left;
    width: 65%;
  }
  #menu-main {
    padding: 0;
    display: block;
    margin: 0 auto;
    text-align: justify;
    font-size: 0.1px;
    height: inherit;
    line-height: inherit;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  #menu-main > li {
    display: inline-block;
    position: relative;
    height: 100%;
    text-transform: uppercase;
    white-space: nowrap;
    text-align: left;
    font-weight: 300;
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 21px;
    font-size: 2.1rem;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -moz-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
  }
  #menu-main > li > a,
  #menu-main > li > a:link,
  #menu-main > li > a:visited,
  #menu-main > li > a:active {
    text-decoration: none;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    color: #ffffff;
    position: relative;
    z-index: 1;
  }
  #menu-main > li > a:focus,
  #menu-main > li > a:hover {
    color: #ffffff;
    background-color: rgba #008eee, 0.8;
  }
  #menu-main > li > a:after,
  #menu-main > li > a:before {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
  }
  #menu-main > li > a:after {
    display: block;
    position: absolute;
    top: 0;
    left: 0px;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 1px;
    content: ".";
    color: transparent;
    background: #008eee;
    visibility: none;
    opacity: 0;
    z-index: -1;
  }
  #menu-main > li > a:hover:after {
    opacity: 1;
    visibility: visible;
    height: 40px;
    bottom: 0;
    background: #008eee;
    background: rgba(0, 142, 238, 0.3);
    top: 0px;
    left: 0;
    width: 120%;
    left: -10%;
  }
  #nav-search {
    display: none;
  }
  @media screen and (max-width: 48.75em) {
    #nav-search {
      display: block;
      position: absolute;
      top: 12px;
      right: 5px;
    }
  }
  @media screen and (max-width: 64em) {
    .nav {
      width: 80%;
    }
  }
  @media screen and (max-width: 48.75em) {
    #nav-wrap {
      border: none;
      position: relative;
      width: 100%;
      height: 65px;
      line-height: 65px;
      background-color: #008eee;
    }
    #menu-main {
      display: none;
    }
  }
  #logo-wrap {
    position: relative;
    float: right;
    display: block;
    width: 35%;
    text-align: right;
    vertical-align: middle;
    padding: 0;
    line-height: 1;
  }
  #logo-image {
    position: absolute;
    top: 58px;
    left: 0px;
    width: 68%;
  }
  #logo-image:hover {
    filter: alpha(opacity=95);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=95)";
    -moz-opacity: 0.95;
    -khtml-opacity: 0.95;
    opacity: 0.95;
  }
  #logo-image-wave {
    position: absolute;
    top: 0;
    right: 0;
    width: 32%;
  }
  @media only screen and (max-width: 1200px) {
    #logo-image {
      width: 65%;
    }
    #logo-image-wave {
      width: 35%;
    }
  }
  @media only screen and (max-width: 1100px) {
    #logo-image {
      width: 60%;
    }
    #logo-image-wave {
      width: 40%;
    }
  }
  #mobile-logo {
    display: none;
  }
  @media screen and (max-width: 64em) {
    #logo-wrap {
      width: 15%;
      top: 14px;
    }
    #logo-image {
      display: none;
    }
    #logo-image-wave {
      display: none;
    }
    #mobile-logo {
      display: inline-block;
      max-width: 100px;
    }
  }
  @media screen and (max-width: 48.75em) {
    #logo-wrap {
      position: absolute;
      width: 100%;
      left: 0;
      top: 0;
      float: none;
      clear: both;
      text-align: center;
      padding: 3px 0;
      height: 65px;
      vertical-align: middle;
    }
    #logo-wrap img {
      width: 7%;
      min-width: 50px;
      height: auto;
    }
  }
  
  #footer-menu {
    padding: 5%;
  }
  #footer-menu a,
  #footer-menu a:link,
  #footer-menu a:visited,
  #footer-menu a:active {
    color: #212121;
    text-decoration: none;
  }
  #footer-menu a:focus,
  #footer-menu a:hover {
    color: #008eee;
  }
  
  @media screen and (max-width: 40em) {
    #sponsors-carousel {
      display: none;
    }
  }
  .copyright-wrap {
    line-height: 1;
    text-transform: uppercase;
    padding: 0 0 60px 0;
    text-align: center;
    font-size: 10px;
    font-size: 1rem;
  }
  .copyright-wrap li {
    padding-right: 10px !important;
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .copyright-wrap li:after {
    display: inline-block;
    vertical-align: middle;
    content: " | ";
    position: relative;
    top: -2px;
    left: 7px;
    font-size: 8px;
    font-size: 0.8rem;
    vertical-align: middle;
  }
  .copyright-wrap li:last-child {
    padding: 0 !important;
  }
  .copyright-wrap li:last-child:after {
    content: " ";
  }
  .copyright-wrap a,
  .copyright-wrap a:link,
  .copyright-wrap a:visited,
  .copyright-wrap a:active {
    text-decoration: none;
    color: #212121;
  }
  .copyright-wrap a:focus,
  .copyright-wrap a:hover {
    color: #b6b6b6;
  }
  @media screen and (max-width: 64em) {
    .copyright-wrap {
      line-height: 1.7;
      font-size: 11px;
      font-size: 1.1rem;
    }
  }
  @media screen and (max-width: 48.75em) {
    footer {
      padding-bottom: 80px;
    }
  }
  a,
  a:link,
  a:active,
  a:visited {
    color: #008eee;
    text-decoration: none;
    outline: none;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  a:focus,
  a:hover,
  a:link:focus,
  a:link:hover,
  a:active:focus,
  a:active:hover,
  a:visited:focus,
  a:visited:hover {
    color: rgba(0, 142, 238, 0.8);
    text-decoration: none;
    outline: none;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  .page-template-default .header {
    width: 100%;
    max-width: inherit;
  }
  .header {
    position: relative;
  }
  #top-utility-wrap ul {
    padding-left: 0;
  }
  #top-utility-wrap {
    padding: 1% 0;
    max-width: 1170px;
  }
  .utility-locations-menu li:first-child {
    margin-right: 5px;
  }
  #top-utility-wrap li:last-of-type {
    padding-left: 5px;
  }
  #menu-locations-nav {
    width: 47%;
  }
  #top-utility-wrap li a {
    font-weight: 300;
  }
  .utility-locations-menu {
    width: 53%;
  }
  #nav-wrap {
    height: 120px;
  }
  #logo-image {
    width: 55%;
    top: 50px;
    left: 75px;
    transition: width 200ms, top 200ms, left 200ms;
  }
  #menu-main > li {
    line-height: 120px;
  }
  #logo-image-wave {
    width: 25%;
    top: 5px;
    transition: width 200ms, top 200ms;
  }
  @media screen and (max-width: 48.75em) {
    #nav-wrap {
      border: none;
      position: relative;
      width: 100%;
      height: 65px;
      line-height: 65px;
      background-color: #06c;
    }
    #menu-main {
      display: none;
    }
  }
  #menu-locations-nav li:last-child::after {
    display: none;
  }
  .nav li {
    display: block;
    transition-duration: 0.5s;
  }
  .nav li:hover {
    cursor: pointer;
  }
  .nav li:hover > a:hover {
    border-top: 3px solid #fc0;
    padding-top: 10px;
  }
  #footer-menu {
    padding: 0;
  }
  #footer-sidebar {
    padding: 4% 0;
    justify-content: space-between;
  }
  #footer-sidebar {
    display: flex;
  }
  #footer-sidebar2 {
    text-align: center;
  }
  #footer-sidebar3 {
    text-align: right;
  }
  @media screen and (max-width: 1025px) {
    #mobile-logo {
      max-width: 80px;
    }
  }
  @media screen and (max-width: 780px) {
    #top-utility-wrap {
      padding: 0;
    }
    #nav-wrap {
      height: 70px;
    }
    ul.menu {
      width: 300px;
    }
    ul.menu > li.menu-item > ul.sub-menu > li > a {
      margin-left: 20px;
      padding: 6px 0 6px 20px;
      font-size: 0.9em;
    }
  }
  .copyright-wrap {
    padding-bottom: 20px;
  }
  .footer p {
    text-align: center;
    font-size: 10px;
    padding-bottom: 60px;
  }
  #footer-sidebar3 p {
    text-align: right;
  }
  @media screen and (max-width: 900px) {
    #menu-locations-nav {
      width: 100%;
      text-align: center;
      margin-top: 20px;
    }
    #utility-locations-menu-desktop {
      width: 100%;
      text-align: center;
    }
  }
  @media screen and (max-width: 48.75em) {
    ul#utility-locations-menu-desktop {
      display: none;
    }
    #menu-locations-nav {
      display: none !important;
    }
    #top-utility-wrap {
      min-height: 0;
      padding: 0;
    }
  }
}

@font-face {
  font-family: "FontAwesome";
  src: url(https://use.fontawesome.com/releases/v5.15.4/webfonts/fa-brands-400.eot),
    url(https://use.fontawesome.com/releases/v5.15.4/webfonts/fa-brands-400.eot?#iefix)
      format("embedded-opentype"),
    url(https://use.fontawesome.com/releases/v5.15.4/webfonts/fa-brands-400.woff2)
      format("woff2"),
    url(https://use.fontawesome.com/releases/v5.15.4/webfonts/fa-brands-400.woff)
      format("woff"),
    url(https://use.fontawesome.com/releases/v5.15.4/webfonts/fa-brands-400.ttf)
      format("truetype"),
    url(https://use.fontawesome.com/releases/v5.15.4/webfonts/fa-brands-400.svg#fontawesome)
      format("svg");
}

@font-face {
  font-family: "FontAwesome";
  src: url(https://use.fontawesome.com/releases/v5.15.4/webfonts/fa-solid-900.eot),
    url(https://use.fontawesome.com/releases/v5.15.4/webfonts/fa-solid-900.eot?#iefix)
      format("embedded-opentype"),
    url(https://use.fontawesome.com/releases/v5.15.4/webfonts/fa-solid-900.woff2)
      format("woff2"),
    url(https://use.fontawesome.com/releases/v5.15.4/webfonts/fa-solid-900.woff)
      format("woff"),
    url(https://use.fontawesome.com/releases/v5.15.4/webfonts/fa-solid-900.ttf)
      format("truetype"),
    url(https://use.fontawesome.com/releases/v5.15.4/webfonts/fa-solid-900.svg#fontawesome)
      format("svg");
}

@font-face {
  font-family: "FontAwesome";
  src: url(https://use.fontawesome.com/releases/v5.15.4/webfonts/fa-regular-400.eot),
    url(https://use.fontawesome.com/releases/v5.15.4/webfonts/fa-regular-400.eot?#iefix)
      format("embedded-opentype"),
    url(https://use.fontawesome.com/releases/v5.15.4/webfonts/fa-regular-400.woff2)
      format("woff2"),
    url(https://use.fontawesome.com/releases/v5.15.4/webfonts/fa-regular-400.woff)
      format("woff"),
    url(https://use.fontawesome.com/releases/v5.15.4/webfonts/fa-regular-400.ttf)
      format("truetype"),
    url(https://use.fontawesome.com/releases/v5.15.4/webfonts/fa-regular-400.svg#fontawesome)
      format("svg");
  unicode-range: U+F004-F005, U+F007, U+F017, U+F022, U+F024, U+F02E, U+F03E,
    U+F044, U+F057-F059, U+F06E, U+F070, U+F075, U+F07B-F07C, U+F080, U+F086,
    U+F089, U+F094, U+F09D, U+F0A0, U+F0A4-F0A7, U+F0C5, U+F0C7-F0C8, U+F0E0,
    U+F0EB, U+F0F3, U+F0F8, U+F0FE, U+F111, U+F118-F11A, U+F11C, U+F133, U+F144,
    U+F146, U+F14A, U+F14D-F14E, U+F150-F152, U+F15B-F15C, U+F164-F165,
    U+F185-F186, U+F191-F192, U+F1AD, U+F1C1-F1C9, U+F1CD, U+F1D8, U+F1E3,
    U+F1EA, U+F1F6, U+F1F9, U+F20A, U+F247-F249, U+F24D, U+F254-F25B, U+F25D,
    U+F267, U+F271-F274, U+F279, U+F28B, U+F28D, U+F2B5-F2B6, U+F2B9, U+F2BB,
    U+F2BD, U+F2C1-F2C2, U+F2D0, U+F2D2, U+F2DC, U+F2ED, U+F328, U+F358-F35B,
    U+F3A5, U+F3D1, U+F410, U+F4AD;
}
